{% extends "layout.html" %}

{% block title %}
   Buy 
{% endblock %}

{% block main %}
    {% if request.method == "GET" %}
        <form action="/sell" method="post">
            <div class="dropdown form-group">
                <select class="btn btn-light" name="stock">
                    <option value="" disabled selected>Choose your option</option>
                    {% for key, value in stock_qty.items() %}
                        {% if value > 0 %}  
                            <option value="{{key}}">{{key}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div> 
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="qty" placeholder="Quantity" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Sell</button>
        </form>
        

    {% endif %}

    {% if request.method == "POST" %}
        <h3>You sold: {{qty*-1}} shares of {{company_name}} at {{shares | usd}}</h3>
    {% endif %}

{% endblock %}
